*{margin:0;padding:0;}
*{box-sizing: border-box;}
body{
    background-color:#F2F2F2;
}
.window{
  width: 675px;
  height: 650px;
  margin: 20px auto;
  overflow: hidden;
}
.images{
  display: flex;
  transition: all 1s;
}
.images > img{
  width: 100%;
}
.container{
    padding-top: 80px;
}
h1{
    text-align: center;
}